<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.patienttrackerapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="PatientTrackerApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/App_Theme"
        android:usesCleartextTraffic="true">
        <activity android:name=".InsertOrUpdateActivity"></activity>
        <activity
            android:name=".FormActivity"
            android:parentActivityName=".HomePageActivity" />
        <activity android:name=".AddReminderActivity" />
        <activity
            android:name=".ReminderPageActivity"
            android:parentActivityName=".HomePageActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".AppointmentsActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".HomePageActivity" />
        <activity android:name=".HomePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>